

<div class="card mb-4 w-full sm:max-w-[300px] h-full max-h-[400px] overflow-hidden  border border-[#cbdef7] rounded-md pb-5 mx-auto">
  <div class="card-body">
    <div>
      <% if post.draft? %>
        <div class="p-2 rounded bg-[#e4cdcd] text-[#0C2D57]">Draft</div>
     <%elsif post.scheduled? %>
        <div class="p-2 rounded bg-[] text-blue-900">Scheduled</div>
      <%end %>
      </div>
    <div class='w-full max-w-[300px]'>
       <%= image_tag post.cover_image if post.cover_image.present? %>
    </div>
    <div class='p-3 h-[340px] overflow-hidden'>
      <h2 class="text-2xl text-[#0C2D57] font-medium"><%= link_to post.title, post_path(post) %></h2>
    <p class="card-text text-base line-clamp-5 text-[#0c2d57]  mb-2 "><%= post.content %></p>
    <br />
      </div>
  </div>
</div>
