

<div class="card mb-4 border-2 w-full max-w-[300px]">
  <div class="card-body">
    <div>
      <% if post.draft? %>
        <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
     <%elsif post.scheduled? %>
        <div class="p-2 rounded bg-blue-100 text-blue-900">Scheduled</div>
      <%end %>
      </div>
    <div>
       <%= image_tag post.cover_image if post.cover_image.present? %>
    </div>
    <div class='p-3'>
      <h2 class="text-2xl text-[#0C2D57] font-medium"><%= link_to post.title, post_path(post) %></h2>
    <p class="card-text text-base"><%= post.content %></p>
      </div>
  </div>
</div>
