<!-- app/views/pages/about.html.erb -->

<div class="container mx-auto p-4 text-[#0C2D57] text-2xl">
  <h1 class="text-2xl font-bold mb-4 text-[#0C2D57]">About CTD Rails</h1>
  <p class="text-gray-700 text-base">Welcome to <span class="text-teal-500 font-bold">CTD Rails</span>, your dedicated resource for mastering Ruby on Rails. Our blog is designed to serve as a learning hub for students delving into the world of Ruby and Rails development.</p>

  <h2 class="text-2xl font-bold mt-8">Our Mission</h2>
  <p class="text-gray-700 text-base">At CTD Rails, our mission is to provide a focused, hands-on learning experience for individuals passionate about mastering Ruby and Rails. We aim to make the learning journey both engaging and rewarding.</p>

  <h2 class="text-2xl font-bold mt-8">Why Choose CTD Rails?</h2>
  <p class="text-gray-700 text-base">Choosing CTD Rails means choosing a unique learning experience tailored to your Rails journey. Here's what makes us stand out:</p>

  <ul class="list-disc pl-6 mt-4 text-base">
    <li><span class="font-bold">Rails-Centric Content:</span> Exclusively focusing on Ruby and Ruby on Rails for relevant and in-depth learning.</li>
    <li><span class="font-bold">Structured Learning Paths:</span> Articles follow a structured path from basics to advanced topics.</li>
    <li><span class="font-bold">Hands-On Examples:</span> Practical, hands-on examples to reinforce your understanding of concepts.</li>
    <li><span class="font-bold">Community Support:</span> Engage with fellow learners and educators in our supportive community.</li>
  </ul>

  <h2 class="text-2xl font-bold mt-8">Meet the Educators</h2>
  <p class="text-gray-700 text-base">Our content is crafted by experienced educators and seasoned Rails developers. Get to know the minds dedicated to making your learning journey smooth and enjoyable.</p>

  <h2 class="text-2xl font-bold mt-8">Join Us on This Learning Adventure</h2>
  <p class="text-gray-700 text-base">Whether you're a student, a self-learner, or a developer looking to expand your skills, <span class="text-teal-500 font-bold">CTD Rails</span> is here for you. Dive into our articles, embrace the challenges, and let's master Ruby on Rails together.</p>

  <p class="text-gray-700 text-base">Thank you for choosing <span class="text-teal-500 font-bold">CTD Rails</span> as your learning companion.</p>

</div>
